# SPDX-FileCopyrightText: 2024-present Stuart Ellis <stuart@stuartellis.name>
#
# SPDX-License-Identifier: CC0-1.0

PRODUCT_NAME=labs

AWS_PROFILE=

GITLAB_PROJECT_ID=

TF_HTTP_LOCK_METHOD=POST
TF_HTTP_UNLOCK_METHOD=DELETE
TF_HTTP_USERNAME="${GITLAB_USERNAME}"
TF_HTTP_PASSWORD="${GITLAB_ACCESS_TOKEN}"
TF_HTTP_RETRY_WAIT_MIN=5
